---
import { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import { getThoughts, getSummary } from "@utils/posts";
import Breadcrumb from "@components/Breadcrumb.astro";
import Comments from "@components/Comments.astro";
import { getLastPartOfSlug } from "@utils/slug";
import Thought from "@components/Thought.astro";

import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const locale = lang;
export async function getStaticPaths() {
    const locale = lang;
    const thoughts = await getThoughts(locale);
    return thoughts.map((thought) => {
        const slug = getLastPartOfSlug(thought.slug);
        return {
            params: { slug: slug },
            props: { thought },
        };
    });
}
type Props = CollectionEntry<`thoughts`>;
const { slug } = Astro.params;
const { thought } = Astro.props;
---

<Layout
  title={t("thoughts")}
  seo={{
    title: t("thoughts"),
    description: getSummary(locale, thought.body),
    url: `/thoughts/${slug}`,
    date: thought.data.date,
    updated: thought.data.updated,
    keywords: thought.data.tags,
  }}
>
  <Breadcrumb
    breadcrumb={[
      {
        url: `/thoughts`,
        name: "thoughts",
      },
    ]}
  />
  <div class="thought-content">
    <h1 class="series p-category">{t("thoughts")}</h1>
    <Thought thought={thought} slug={`/thoughts/${slug}`} slugPage={true}/>
    <Comments locale={locale} slug={`/thoughts/${slug}`} />
  </div>
</Layout>

<style lang="scss">
  h1 {
    @apply text-3xl font-bold text-center;
  }

  .thought-content {
    @apply max-w-xl self-center;
  }
</style>
