---
import FeedItem from "./FeedItem.astro";
import LinkItem from "./LinkItem.astro";
import CutContent from "@components/support/CutContent.astro";
import {getRealSlugByItem } from "@utils/slug";

const { contents, lang } = Astro.props;
---

<div class="feed divide-y divide-gray-400 divide-dashed">
  {
    contents.map((item) => {
      let slot = <></>;
      if (item.collection === "posts") {
        slot = (
        <LinkItem
          title={item.data.title}
          description={item.data.description}
          link={getRealSlugByItem(item)}
          cover={item.data.cover}
        />
      );
      }
        else if (item.collection === "thoughts") {
            slot = (
            <CutContent item={item} readmoreLink={getRealSlugByItem(item)} slugPage={false} />
        );
        }
      return (
        <FeedItem lang={lang} published={item.data.date}>
          {slot}
        </FeedItem>
      );
    })
  }
</div>

<style lang="scss">
    .feed {
      @apply flex flex-col gap-4 w-full first:mt-0;
    }
</style>
