---
import { Image } from "astro:assets";

type Props = {
  link: string;
  title: string;
  description?: string;
  cover?: string;
};

const { cover, title, link, description } = Astro.props;
---

<div class="link-card">
  <a class="left" href={link}
    >{
      cover ? (
        <Image class="cover" alt={title} src={cover} width={192} height={128} />
      ) : (
        <div class="cover">
          <span>Image</span>
        </div>
      )
    }</a
  >
  <a href={link} class="link-info">
    <span class="title">{title}</span>
    <p class="description">{description}</p>
  </a>
</div>

<style lang="scss">
  .link-card {
    @apply flex flex-row gap-4 shadow rounded-xl my-2 h-32 overflow-hidden bg-slate-200 dark:bg-gray-800 items-center w-full;
    .left {
      @apply flex w-1/3 h-32 overflow-hidden justify-center;
      min-width: 33%;
      .cover {
        @apply w-full min-w-fit h-full bg-gray-100 dark:bg-gray-900 flex flex-col justify-center items-center;
      }
    }

    .link-info {
      @apply flex flex-col mx-2;
    }

    .title {
      @apply font-bold;
    }

    .description {
      @apply text-gray-500 text-sm sm:hidden;
    }
  }
</style>
