---
import i18next, { changeLanguage } from "i18next";
import { getLastPartOfSlug, getLinkViaLocale } from "@utils/slug";
import { timeFormat } from "@utils/time";
import Layout from "@layouts/Layout.astro";
import { getPosts } from "@utils/posts";
import PostCard from "@components/PostCard.astro";
import Breadcrumb from "@components/Breadcrumb.astro";

changeLanguage("en");

const locale = i18next.language;
const posts = await getPosts(locale);
---

<Layout
  title="Posts"
  locale={locale}
  seo={{
    title: "Posts",
    description: "Posts",
    image: "https://eindex.me/images/avatar.png",
    url: getLinkViaLocale(locale, "/posts"),
  }}
>
  <h1>Posts</h1>
  <div class="posts">
    {
      posts.map((post) => (
        <PostCard
          title={post.data.title}
          cover={post.data.cover}
          url={getLinkViaLocale(
            locale,
            `/posts/${getLastPartOfSlug(post.slug)}`
          )}
          updatedAt={timeFormat(post.data.updated || post.data.date, locale)}
          description={post.data.description}
        />
      ))
    }
  </div>

  <p slot="sidebar"></p>
</Layout>

<style lang="scss">
  h1 {
    @apply text-4xl font-bold self-center;
  }

  .posts {
    @apply flex flex-col gap-4;
  }
</style>
