---
import { getLastPartOfSlug, getLocaleFromSlug } from "@utils/slug";
import Layout from "@layouts/Layout.astro";
import { getPosts, getSummary } from "@utils/posts";
import { timeFormat } from "@utils/time";
import Breadcrumb from "@components/Breadcrumb.astro";
import Comments from "@components/Comments.astro";
import Tags from "@components/Tags.astro";
import A from "@components/webmentions/A.astro";
import Author from "@components/Author.astro";
import { Image } from "astro:assets";
import { useTranslations } from "@i18n/utils";
import PageLayout from "@layouts/PageLayout.astro";

export const prerender = true;

const { lang } = Astro.params;
const t = useTranslations(lang);

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((post) => {
    const slug = getLastPartOfSlug(post.slug);
    const locale = getLocaleFromSlug(post.id);
    return {
      params: { slug: slug, lang: locale },
      props: { post },
    };
  });
}
const defaultComponents = { a: A, link: A, img: Image };

const url = Astro.url;
const { post } = Astro.props;
const { Content, remarkPluginFrontmatter } = await post.render();
---

<PageLayout
  title={post.data.title}
  seo={{
    title: post.data.title,
    description: post.data.description || remarkPluginFrontmatter.rawString,
    image: post.data.cover,
    url: url,
    date: post.data.date,
    updated: post.data.updated,
    keywords: post.data.tags,
  }}
  cover={post.data.cover}
  series={post.data.series}
>
  <div class="before-content" slot="before-content">
    <div class="post-meta">
      <div>
        <Author />
        <time class="dt-published" datetime={post.data.date.toISOString()}
          >{timeFormat(post.data.date, lang)}</time
        >
      </div>
      <p class="p-summary">{post.data.description}</p>
    </div>
    <hr />
    <Tags tags={post.data.tags} />
  </div>

  <a class="u-bridgy-fed" href="https://fed.brid.gy/"></a>
  <Content components={{ ...defaultComponents }} />

</PageLayout>

<style lang="scss">
  .before-content {
    @apply flex flex-col gap-4;
  }

  .p-summary {
    @apply ml-12 -mt-4;
  }

  .post-meta {
    @apply flex flex-col gap-2;
    color: var(--text-color);

    hr {
      @apply py-4;
    }

    time {
      @apply text-right align-bottom;
    }
    div {
      @apply flex items-center justify-between;
    }
  }
</style>
