---
import "@fontsource-variable/bitter";
import { getLinkViaLocale, getLastPartOfSlug } from "@utils/slug";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { getCollection, getEntries } from "astro:content";
import {Image} from "astro:assets";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const pages = await getCollection("pages");
// const entries = await getEntries(pages);

const defaultLinks = pages
  .filter((i) => i.data.location === "navbar" && i.id.startsWith(lang))
  .sort((a, b) => a.data.order - b.data.order);

const { links = defaultLinks, styles = {} } = Astro.props;
---

<nav style={styles}>
  <a class="logo" href={getLinkViaLocale(lang, "/")}>
    <Image
      alt="EINDEX's Blog"
      loading="lazy"
      src={"/images/new-avatar.jpeg"}
      width={32}
      height={32}
    />
    <b>EINDEX</b>'s Blog
  </a>
  <div class="menus" id="navbar-menus">
    <ul>
      {
        links.map((link) => (
          <li>
            <a
              data-umami-event={`Menu ${getLastPartOfSlug(link.slug)}`}
              data-umami-event-name={`${getLastPartOfSlug(link.slug)}`}
              href={`/${link.slug}`}
            >
              {link.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<style lang="scss">
  nav {
    @apply pt-2 flex flex-row w-full justify-between flex-wrap items-center;

    .logo {
      @apply flex flex-row items-center h-8 py-1;
      font-family: "Bitter Variable", serif;
      text-decoration: none;
      color: var(--text-color);
      font-size: 1.5rem;

      img {
        @apply mr-4 rounded-lg;
        border-radius: 20%;
        height: 32px;
        width: 32px;
      }
    }

    #navbar-menus {
      @apply flex gap-4 justify-center items-center text-center;

      language-selector {
        @apply hidden sm:inline-flex rounded-lg shadow-lg dark:bg-black;
        background-color: var(--card-background-color);
      }

      ul {
        @apply flex flex-row gap-4 sm:text-sm  border-0;

        li {
          a {
            @apply px-2 py-2;
            text-decoration: none;
            color: var(--text-color);
          }
        }
      }
    }
  }
</style>
