---
import i18next, { t } from "i18next";
import { getLinkViaLocale } from "@utils/slug";
import { LanguageSelector } from "astro-i18next/components";

const locale = i18next.language;

const defaultLinks = [
  { name: "posts", url: "/posts" },
  { name: "thoughts", url: "/thoughts" },
  { name: "newsletters", url: "/newsletters"},
  { name: "gallery", url: "/gallery" },
];
const { links = defaultLinks, styles = {} } = Astro.props;
---

<nav style={styles}>
  <a class="logo" href={getLinkViaLocale(locale, "/")}>
    <img alt="EINDEX's Blog" loading="lazy" src={"/images/avatar.webp"} width={32} height={32} />
    <b>EINDEX</b>'s Blog
  </a>
  <button
    id="navbar-default"
    data-collapse-toggle="navbar-default"
    type="button"
    class="navbar-toggle"
    aria-controls="navbar-default"
    aria-expanded="false"
  >
    <span class="sr-only">Open main menu</span>
    <svg
      class="w-6 h-6"
      aria-hidden="true"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        fill-rule="evenodd"
        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
        clip-rule="evenodd"></path></svg
    >
  </button>
  <div class="menus sm:hidden" id="navbar-menus">
    <ul>
      {
        links.map((link) => (
          <li>
            <a
              data-umami-event={`Menu ${link.name}`}
              data-umami-event-name={`${link.name}`}
              href={getLinkViaLocale(locale, link.url)}
            >
              {t(link.name)}
            </a>
          </li>
        ))
      }
    </ul>
    <LanguageSelector
      showFlag={true}
      languageMapping={{ en: "English", zh: "中文" }}
      class="language-selector rounded-lg shadow-lg dark:bg-black"
    />
  </div>
</nav>

<style lang="scss">
  nav {
    @apply px-4 sm:px-2 pt-2 flex flex-row w-full justify-between flex-wrap items-center;

    .logo {
      @apply flex flex-row items-center h-8 py-1;
      text-decoration: none;
      color: var(--text-color);
      font-size: 1.5rem;

      img {
        @apply mr-4 rounded-lg;
        border-radius: 20%;
        height: 32px;
        width: 32px;
      }
    }

    .navbar-toggle {
      @apply sm:inline-flex items-center p-1 text-sm text-gray-500 hidden dark:text-gray-400 dark:hover:bg-gray-700;
    }

    #navbar-menus {
      @apply flex gap-4 sm:hidden sm:w-full justify-center items-center text-center;

      language-selector {
        @apply hidden sm:inline-flex rounded-lg shadow-lg dark:bg-black;
        background-color: var(--card-background-color);
      }

      ul {
        @apply flex sm:flex-col sm:text-center sm:w-full flex-row gap-4 sm:text-sm  border-0;

        li {
          a {
            @apply px-2 py-2;
            text-decoration: none;
            color: var(--text-color);
          }
        }
      }
    }
  }
</style>

<script>
  import { Collapse } from "flowbite";
  import type { CollapseOptions, CollapseInterface } from "flowbite";

  const $targetEl: HTMLElement = document.getElementById("navbar-menus");
  const $triggerEl: HTMLElement = document.getElementById("navbar-default");

  const options: CollapseOptions = {
    onCollapse: () => {
      console.log("element has been collapsed");
      $targetEl.className = "menus sm:hidden";
    },
    onExpand: () => {
      console.log("element has been expanded");
      $targetEl.className =
        "menus w-full text-center sm:justify-center sm:items-center z-10 sm:p-4 sm:mt-4 sm:border sm:border-gray-100 sm:rounded-lg sm:bg-gray-50 sm:dark:bg-gray-800 sm:dark:border-gray-700";
    },
  };

  /*
   * $targetEl: required
   * $triggerEl: optional
   * options: optional
   */
  const collapse: CollapseInterface = new Collapse(
    $targetEl,
    $triggerEl,
    options
  );
</script>
