---
import EmptyWapper from "@layouts/EmptyWapper.astro";
import i18next, { changeLanguage } from "i18next";
import Navbar from "@components/Navbar.astro";
import Project from "@components/Project.astro";
import Profile from "@components/Profile.astro";
import Contact from "@components/Contact.astro";
import { getLinkViaLocale } from "@utils/slug";

changeLanguage("en");

const locale = i18next.language;
const projects = [
    {
        name: "Logseq Copilot",
        labels: ["Browser Extension", "Logseq", "Open Source"],
        url: "https://logseq-copilot.eindex.me",
        logo: "/images/logseq-copilot.png",
        openSource: true,
    },
    {
        name: "Logseq Memos Sync",
        labels: ["Logseq", "Logseq Plugin", "Memos", "Open Source"],
        url: "https://github.com/eindex/logseq-memos-sync",
        logo: "/images/logseq-memos-sync.webp",
        openSource: true,
    },
];
const links = [
    {
        name: "\u4E2D\u6587\u535A\u5BA2",
        url: "/cn/posts",
    },
    {
        name: "Posts",
        url: "/posts",
    },
    {
        name: "Gallery",
        url: "/gallery",
    },
];
const resp = await fetch("https://img.eindex.me/pic/pic_list.json");
const images = await resp.json();
const showImages = images.slice(0, 7);
---

<EmptyWapper title="EINDEX's Blog" locale={locale} seo={{
  title: "EINDEX's Blog",
  description: "This is EINDEX's Blog, I am a security researcher and a developer. Here is my blog.",
  image: "https://eindex.me/images/avatar.png",
  url: getLinkViaLocale(locale, "/"),
}}>
  <Navbar links={links} styles={{ position: "absolute", top: 0 }} />
  <main>
    <section class="profile">
      <Profile />
    </section>

    <section>
      <h2>Projects</h2>
      <div class="projects">
        {
          projects.map((project) => (
            <Project
              name={project.name}
              labels={project.labels}
              url={project.url}
              logo={project.logo}
            />
          ))
        }
      </div>
    </section>
    <section>
      <h2>Gallery</h2>
      <div class="gallery">
        <div>
          {
            showImages.map((image, index) => (
              <img
                class={`image-${index % 5}`}
                height="300px"
                width={`${image.width / (image.height / 300)}px`}
                src={`https://img.eindex.me/pic/${image.thumbnail}`}
              />
            ))
          }
        </div>
      </div>
    </section>
    <section>
      <h2>My Goals</h2>
      <ul class="goals">
        <li>📍 Relocate to Australia.</li>
        <li>⭐ Earned 100 Stars on Github.</li>
        <li>📰 Start regularly publishing a newsletter.</li>
        <li>🌎 Reaching batter English level.</li>
        <li>🏃‍♂️ Lose weight and get in better shape.</li>
      </ul>
    </section>
    <section>
      <h2>Get In Touch</h2>
      <div class="get-in-touch">
        <p>If you'd like to have a conversation with me, get in touch.</p>
        <p>
          If you're interested in working together, don't hesitate to reach out.
        </p>
        <p>If you're in need of security support, I'm happy to help.</p>
        <p>You can reach me using the following methods:</p>
      </div>
      <Contact />
    </section>
  </main>
</EmptyWapper>

<style lang="scss">
  body {
    min-height: 100vh;
    place-items: center;
    width: 100%;
  }

  main {
    @apply flex flex-col w-full h-full gap-8 px-4;

    .profile {
      @apply py-0 my-0;
      height: 100vh;
    }

    @media screen and (min-height: 768px) {
      section {
        min-height: 20vh;
      }
    }

    section {
      @apply flex flex-col py-4 justify-center items-center gap-4 h-3/4 mt-8;

      height: fit-content;

      h2 {
        @apply self-center justify-center text-6xl font-bold italic;
      }

      .projects {
        @apply flex flex-row flex-wrap justify-center items-center gap-8 pt-8;
      }

      .gallery {
        @apply max-w-fit overscroll-x-contain -mx-4 h-96 overflow-x-auto lg:overscroll-x-none lg:max-w-full lg:overflow-x-visible;

        div {
          @apply flex flex-row w-fit h-96 flex-nowrap justify-center items-center gap-8 overflow-visible;
          img {
            @apply rounded-xl shadow-lg;
          }
          .image-1 {
            @apply rotate-0;
          }
          .image-3 {
            @apply rotate-1;
          }
          .image-2 {
            @apply rotate-2;
          }
          .image-4 {
            @apply -rotate-1;
          }
          .image-0 {
            @apply -rotate-2;
          }
        }
      }

      .gallery::-webkit-scrollbar {
        display: none;
      }

      .goals {
        @apply grid grid-flow-row grid-cols-2 sm:grid-cols-1 gap-4 pt-8;

        li {
          @apply text-xl font-bold list-none;
        }
      }
      .get-in-touch {
        @apply flex flex-col;
        p {
          @apply text-xl font-bold my-2;
        }
      }
    }
  }
</style>
