---
import { CollectionEntry, getCollection } from "astro:content";
import i18next, { changeLanguage } from "i18next";
import { getLastPartOfSlug, getLinkViaLocale } from "@utils/slug";
import Layout from "@layouts/Layout.astro";
import { getPosts } from "@utils/posts";
import { timeFormat } from "@utils/time";
import Code from "@components/Code.astro";
import SEO from "@components/SEO.astro";
import Breadcrumb from "@components/Breadcrumb.astro";

changeLanguage("cn");

const locale = i18next.language;
export async function getStaticPaths() {
    const locale = i18next.language;
    const posts = await getPosts(locale);
    return posts.map((post) => {
        const slug = getLastPartOfSlug(post.slug);
        return {
            params: { slug: slug },
            props: { post },
        };
    });
}
type Props = CollectionEntry<`posts-cn` | `posts-en`>;
const { slug } = Astro.params;
const { post } = Astro.props;
const { Content } = await post.render();
---


<Layout title={post.data.title} locale={locale} seo={
  {
        title: post.data.title,
        description: post.data.description,
        image: post.data.cover,
        url: getLinkViaLocale(locale, `/posts/${slug}`),
        date: post.data.date,
        updated: post.data.updated,
        tags: post.data.tags,
      }
}>
<Breadcrumb
  breadcrumb={[
    {
      url: getLinkViaLocale(locale, `/posts`),
      name: "Posts",
    },
  ]}
  />
  <article class="h-entry">
    {post.data.cover ? <img alt={post.data.title} src={post.data.cover} /> : <></>}
    <span class="series p-category"></span>
    <h1 class="title p-name">
      {post.data.title}<a class="u-url" href={getLinkViaLocale(locale, `/posts/${slug}`)}
      ></a>
    </h1>
    <div class="post-meta">
        <p class="p-summary">{post.data.description}</p>
      <time>{timeFormat(post.data.date, locale)}</time>
    </div>
    <hr/>
    <section
      class="main e-content format sm:format-sm lg:format-lg dark:format-invert format-pre:m-0 format-pre:p-2 format-li:list-disc list-disc"
    >
      <Content components={{ pre: Code }} />
    </section>
  </article>
</Layout>

<style lang="scss">
  article {
    @apply flex flex-col w-full gap-4;

    img {
      @apply w-full rounded-lg top-8 -z-10;
    }
    h1 {
      @apply text-3xl font-bold text-center;
    }

    .post-meta {
      @apply flex flex-col gap-2;
      color: var(--text-color);

      time {
        @apply text-right;
      }
    }
    section.main.e-content {
        @apply max-w-full list-disc text-justify;
      color: var(--text-color);
      background-color: var(--bg-color);
    }
    
  
  }
</style>
