---
type Props = {
  name: string;
  logo: string;
  url: string;
  description: string;
  githubLink?: string;
};

const { name, logo, url, description, githubLink } = Astro.props;
---

<div class="project">
  <a
    href={url}
    target="_blank"
    data-umami-event={`project-${name
      .toLowerCase()
      .trim()
      .replaceAll(" ", "-")}`}
  >
    <img src={logo} />
  </a>
  <a
    class="content"
    href={url}
    target="_blank"
    data-umami-event={`project-${name
      .toLowerCase()
      .trim()
      .replaceAll(" ", "-")}`}
  >
    <span class="name">{name}</span>
    <span class="description">{description}</span>
  </a>
</div>

<style lang="scss">
  .project {
    @apply flex flex-row rounded-lg shadow overflow-hidden w-80 gap-2 pb-4 bg-gray-200 dark:bg-gray-800;
    // background-color: var(--card-background-color);
    img {
      @apply w-12 h-12 rounded-full shadow m-4;
    }
    a.content {
      @apply flex flex-row text-center gap-2 my-4;

      .name {
        @apply font-semibold;
      }
    }
  }
</style>
