---
import { getLinkViaLocale } from "@utils/slug";
import { timeFormat } from "@utils/time";
import Author from "@components/Author.astro";

import { getLangFromUrl } from "@i18n/utils";
import CutContent from "./support/CutContent.astro";

const lang = getLangFromUrl(Astro.url);

const { thought, slug, showDate = true, slugPage = false } = Astro.props;
---

<article class="h-entry">
  <div class="thought-meta">
    <Author />
    <a class="u-url" href={getLinkViaLocale(lang, slug)}>
      <time class="dt-updated" datetime={thought.data.updated.toISOString()}
        >{showDate && timeFormat(thought.data.updated, lang)}</time
      >
      <time class="dt-published" datetime={thought.data.date.toISOString()}
      ></time></a
    >
  </div>
  <div class="content">
    <CutContent
      item={thought}
      readmoreLink={thought.data.slug}
      slugPage={slugPage}
    />
  </div>
</article>

<style lang="scss">
  article {
    @apply flex flex-col max-w-full mt-24 sm:mt-12;
    h1 {
      @apply text-3xl font-bold text-center;
    }

    .thought-meta {
      @apply flex flex-row justify-between items-start gap-2;
      color: var(--text-color);

      time {
        @apply text-sm align-top;
      }
    }
    section.main.e-content {
      @apply list-disc max-w-full ml-12 -mt-4;
      color: var(--text-color);
      background-color: var(--bg-color);
    }

    .content {
      @apply ml-12;
    }
  }
</style>
