---
import Breadcrumb from "@components/Breadcrumb.astro";
import Layout from "./Layout.astro";

const defaultComponents = { a: A, link: A, img: Image };
const { title, cover, series, seo = {}, breadcrumb = [], Content, components={} } = Astro.props;

import A from "@components/webmentions/A.astro";
import { Image } from "astro:assets";
import Comments from "@components/Comments.astro";

const url = Astro.url;

// console.log(defaultComponents, components)
---

<Layout seo={seo} title={title}>
  <Breadcrumb breadcrumb={breadcrumb} />
  <article class="h-entry">
    {cover ? <img class="u-photo" alt={title} src={cover} /> : <></>}
    <!-- {series || <span class="series p-category">{t(series)}</span>} -->
    <h1 class="title p-name"><a class="u-url" href={url}>{title}</a></h1>
    <slot name="before-content" />
    <section  class="main e-content">
      <slot />
    </section>
  </article>
  <slot name="footer" />
  <Comments title={title} id={url.pathname} />
</Layout>

<style lang="scss">
  article {
    @apply flex flex-col w-full gap-8 mt-16;

    img {
      @apply rounded-lg sm:mt-0 mt-10 self-center;
      min-width: calc(min( 100vw, 768px));
    }

    h1 {
      @apply text-5xl font-bold text-left md:text-4xl sm:text-3xl;
    }

    section.main {
      @apply max-w-full;
      color: var(--text-color);
      background-color: var(--bg-color);

        p:has(img) {
          @apply flex flex-col items-center;
        }
        img {
            @apply self-center rounded;
            min-width: calc(min( 100vw, 768px));
        }
      
      }
  }
</style>

<style lang="scss" is:global>
  section.main.e-content {
    @apply prose dark:prose-invert;
    iframe {
      @apply w-full;
    }
  }
</style>
